// _fonts.scss

@font-face {
  font-family: 'AlegreyaSans';
  src: url('../assets/fonts/AlegreyaSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PatrickHand';
  src: url('../assets/fonts/PatrickHand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  